<ion-header>
  <ion-toolbar>
    <ion-title>Sacco Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div text-center>
   <h3>Login</h3>
 </div>
 <div padding>
    <ion-item>
  
        <ion-input placeholder=" Email"></ion-input>
      </ion-item>
      <ion-item>
      
        <ion-input placeholder="Password "></ion-input>
      </ion-item>
 </div>
 <div text-center>
 <ion-button   size="small"shape="round" >Login</ion-button>
</div>
 <ion-row>
    <div text-center>
  If you don't have an account, please <a routerLink='/memberregistration'>
    register</a> first!
    </div>
</ion-row>
 <!-- Skeleton screen -->
 <!-- <div *ngIf="!data">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</div> -->
</ion-content>
