.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ion-content{
    --ion-background-color:rgb(138, 43, 5);
  }
  ion-header ion-toolbar::shadow {
    --background: rgb(197, 165, 134);
  }
  .fixed{
    height: 150px;
    width: 5px;
  }

