<ion-header>
  <ion-toolbar>
    <ion-title>podcasts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col col-md-4>
              <ion-card style="background-color: gray">
                
              <iframe [src]="sanitize(vid)" frameborder="0" width="500" height="320" allowfullscreen></iframe>
              <ion-button expand="full" (click)="openLocalPdf()">Open Session Pdf</ion-button>
                <ion-button expand="full" (click)="downloadAndOpenPdf()">Download and open Session PDF</ion-button>
              <h1 style="background-color: black" >Session Video</h1>
              <textarea name="comment" id="comment" cols="30" rows="10" width="100px" expand="frameborder" ></textarea>
              <ion-button>Post comment</ion-button>
            </ion-card>
          </ion-col>
          <ion-col col-md-4>
                <ion-card style="background-color: gray">
                <iframe [src]="sanitize(vid)" frameborder="0" width="500" height="320" allowfullscreen></iframe>
                <h1 >Second Meeting Video</h1>
              </ion-card>
            </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-row>
          <ion-col col-md-1>
                <ion-card style="background-color:gray">
                        <iframe [src]="sanitize(vid)" frameborder="0" width="500" height="320" allowfullscreen></iframe>
                        <h1 >Third Meeting Video</h1>
                      </ion-card>
          </ion-col>
          <ion-col col-md-1>
                <ion-card style="background-color: gray">
                        <iframe [src]="sanitize(vid)" frameborder="0" width="500" height="320" allowfullscreen></iframe>
                        <h1 >Fourth Meeting Video</h1>
                      </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
<ion-row>
    <ion-col col-md-2>
            <ion-card style="background-color:gray">
                    <iframe [src]="sanitize(vid)" frameborder="0" width="500" height="320" allowfullscreen></iframe>
                    <h1 >Fifth Meeting Video</h1>
                  </ion-card>
    </ion-col>
    <ion-col col-md-2>
            <ion-card style="background-color: gray">
                    <iframe [src]="sanitize(vid)" frameborder="0" width="500" height="320" allowfullscreen></iframe>
                    <h1 >Sixth Meeting Video</h1>
                  </ion-card>
    </ion-col>
</ion-row>

  </ion-grid>
  <div *ngIf="!data">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
