


<ion-content class="bg">
  <ion-slides pager="true" [options]="slideOpts" class="ion" >
    <ion-slide >
      <ion-card style="overflow-y: auto" >
        <ion-card-header>
          <ion-card-subtitle>  Welcome To Men of Power </ion-card-subtitle>
          <ion-card-title>Power</ion-card-title>
        </ion-card-header>
              <ion-card-content>
            <img src="assets/power.png"/>
           Where men makes Power
        
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card >
            <ion-card-header>
              <ion-card-subtitle>Sacco</ion-card-subtitle>
              <ion-card-title>MOP Sacco</ion-card-title>
            </ion-card-header>
                  <ion-card-content>
                <img src="assets/power.png"/>
                Let's help you save and get Loans
            
            </ion-card-content>
          </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card >
            <ion-card-header>
              <ion-card-subtitle  > Worry Less</ion-card-subtitle>
              <ion-card-title  >MOP</ion-card-title>
            </ion-card-header>
                  <ion-card-content>
                <img src="assets/power.png"/>
               Worry less about how to manage your track and work more on profits
            
            </ion-card-content>
          </ion-card>
          
    </ion-slide>
    <ion-slide>
        <ion-card >
            <ion-card-header>
              <ion-card-subtitle > Worry Less</ion-card-subtitle>
              <ion-card-title  >Men of Power</ion-card-title>
            </ion-card-header>
                  <ion-card-content>
                <img src="assets/power.png"/>
                <ion-button expand="full"  color="medium" (click)="dsh()"  style="align-self: center;justify-self: center;" >Continue</ion-button>
                 
            </ion-card-content>
          </ion-card>
          
       
      </ion-slide>
  </ion-slides>
</ion-content>


