<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed" color="secondary">First Name:</ion-label>
    <ion-input placeholder="Enter First Name "></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed"color="secondary">Last Name:</ion-label>
    <ion-input placeholder="Enter Last Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed"color="secondary">Email:</ion-label>
    <ion-input placeholder="Enter Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed"color="secondary">PhoneNo:</ion-label>
    <ion-input placeholder="Enter Phone Number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed"color="secondary">Profession:</ion-label>
    <ion-input placeholder="Enter Profession"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed"color="secondary">Marital Status:</ion-label>
    <ion-input placeholder="Enter Marital Status"></ion-input>
  </ion-item>
 <ion-button   size="small"shape="round" >Save Profile</ion-button>
  
</ion-content>
