<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="menu-content myBg" class="bg">
  <div>
    <ion-grid>
        <ion-row>
       <ion-col col-md-4>
       <ion-card style="background-color:rgb(241, 87, 40) "class="fixed" (click)="profile()" >
        <ion-icon name="person" style="align-items: center"></ion-icon>
         <h1 class="h">Profile</h1> 
     </ion-card>
     
     </ion-col>
          <ion-col col-md-4>
            <ion-card style="background-color: rgb(241, 87, 40)"  class="fixed" (click)="podcasts()">
            <!-- <ion-icon name="color-fill" (click)="Fuel()"></ion-icon> -->
            <ion-icon name="cloud-circle"></ion-icon>
            <h1 class="h" >Podcasts</h1> 
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
         <ion-col col-md-1>
         <ion-card style="background-color: rgb(241, 87, 40)" class="fixed" >
          <ion-icon name="people"></ion-icon>
          <h1 class="h" > Community</h1> 
         
       </ion-card>
       </ion-col>
       <!-- class="icon" -->
            <ion-col col-md-1>
              <ion-card style="background-color: rgb(241, 87, 40)"class="fixed" (click)="events()" >
                <ion-icon name="calendar"></ion-icon>
                <h1 class="h">Events</h1> 
               
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  
        <ion-grid>
          <ion-row>
         <ion-col col-md-2>
         <ion-card style="background-color: rgb(241, 87, 40)"  class="fixed" (click)="materials()" >
          <ion-icon name="add"></ion-icon>
          <h1 class="h" >Materials</h1> 
       </ion-card>
       </ion-col>
            <ion-col col-md-2>
              <ion-card style="background-color: rgb(241, 87, 40)"class="fixed" >
                <ion-icon name="information"></ion-icon>
  
                <h1 class="h" >Others</h1> 
              
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
</ion-content>
