<ion-header >
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Men Of Purpose</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="menu-content myBg" class="bg">
  <div>
    <ion-grid>
        <ion-row>
       <ion-col col-md-4>
       <ion-card style="background-color:rgb(189, 164, 144) "class="fixed" (click)="sacco()" >
         <!-- <ion-icon name="person" style="align-items: center"></ion-icon>  -->
          <img src="assets/bank.svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
         <h2 style="margin-top: 15px"class="h">Sacco</h2> 
     </ion-card>
    
     </ion-col>
          <ion-col col-md-4>
            <ion-card style="background-color: rgb(189, 164, 144)"  class="fixed" (click)="podcasts()">
            <!-- <ion-icon name="color-fill" (click)="Fuel()"></ion-icon> -->
            <img src="assets/podcast.svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
           
            <h1 style="margin-top: 15px" class="h" >Podcasts</h1> 
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
         <ion-col col-md-1>
         <ion-card style="background-color: rgb(189, 164, 144)" class="fixed" >
          <img src="assets/teamwork.svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
           
          <h1  style="margin-top: 15px"class="h" >Network</h1> 
         
       </ion-card>
       </ion-col>
       <!-- class="icon" -->
            <ion-col col-md-1>
              <ion-card style="background-color: rgb(189, 164, 144)"class="fixed" (click)="events()" >
                <img src="assets/calendar.svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
          
                <h1 style="margin-top: 15px" class="h">Events</h1> 
               
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  
        <ion-grid>
          <ion-row>
         <ion-col col-md-2>
         <ion-card style="background-color: rgb(189, 164, 144)"  class="fixed" (click)="materials()" >
          <img src="assets/folder.svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
          
          <h1 style="margin-top: 15px" class="h" >Media</h1> 
       </ion-card>
       </ion-col>
            <ion-col col-md-2>
              <ion-card style="background-color: rgb(189, 164, 144)"class="fixed" >
                <img src="assets/settings.svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
          
                <h1  style="margin-top: 15px"class="h" >Opportunites</h1> 
              
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
</ion-content>
