<ion-header>
  <ion-toolbar>
    <ion-title>MemberRegistration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center>
        <h3>Registration</h3>
      </div>
  <ion-item>
  
    <ion-input placeholder=" Name "></ion-input>
  </ion-item>
  <ion-item>
  
    <ion-input placeholder=" Email"></ion-input>
  </ion-item>
  <ion-item>
  
    <ion-input placeholder="Password "></ion-input>
  </ion-item>
  <ion-item>
  
    <ion-input placeholder="Confirm Password "></ion-input>
  </ion-item>
  <div text-center>
  <ion-button   size="small"shape="round" >Register</ion-button>
</div>
  </ion-content>
